<section class="mx-auto max-w-[1280px] py-16 space-y-8 p-3">
    <div class="flex justify-center">
        <div class="mx-auto w-full md:w-3/4">
            <h1 class="text-3xl font-black my-5">Contact Us</h1>
            <div class="grid md:grid-cols-5 rounded-md border overflow-hidden">
                <div class="text-white p-5 py-8 bg-green-900 md:col-span-2 space-y-5">
                   <div>
                       <h2 class="text-2xl font-bold">Contact Information</h2>
                   </div>
                    <div>
                        <ul class="text-sm space-y-3 text-gray-100">
                            <li>
                                <span>Location:</span>
                                <span>Ruai, Nairobi, Kenya</span>
                            </li>
                            <li>
                                <span>Email:</span>
                                <span>nutrimzurifc@gmail.com</span>
                            </li>
                            <li>
                                <span>Contact:</span>
                                <span>0726 811 123</span>
                            </li>

                        </ul>
                    </div>
                    <div>
                        <ul class="flex gap-3 items-center">

                            <li>
                                <a href="https://www.linkedin.com/company/nutrimzuri/" target="_blank">
                                    <button class="h-10 w-10 border text-white  border-white p-1 flex place-content-center rounded-full">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 self-center" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"/>
                                        </svg>
                                    </button>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100093121485232&mibextid=ZbWKwL" target="_blank">
                                    <button class="h-10 w-10 border text-white  border-white p-1 flex place-content-center rounded-full">
                                        <svg xmlns="http://www.w3.org/2000/svg"class="h-6 self-center" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"/>
                                        </svg>
                                    </button>
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="p-5 md:col-span-3">
                    {{ form:contact_us }}

                    {{ if success }}
                    <div class="bg-green-300 text-white p-2">
                        {{ success }}
                    </div>
                    {{ /if }}

                    {{ if errors }}
                    <div class="bg-red-300 text-white p-2">
                        {{ errors }}
                        {{ value }}<br>
                        {{ /errors }}
                    </div>
                    {{ /if }}
                    <div class="spce-y-4">
                        {{ fields }}
                        <div class="p-2">
                            <label class="text-sm">{{ display }}</label>
                            <div class="p-1">{{ field }}</div>
                            {{ if error }}
                            <p class="text-gray-500">{{ error }}</p>
                            {{ /if }}
                        </div>
                        {{ /fields }}
                    </div>

                    <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

                    <div class="flex justify-end">
                        <button type="submit" class="btn-primary">Submit</button>
                    </div>


                    {{ /form:contact_us }}
                </div>
            </div>
        </div>
    </div>
</section>
