<main class="pt-16">
    <section>
        <div x-data="{
        autoplayIntervalTime: 6000,
        currentSlideIndex: 1,
         productCount:  {{ collection:count in='slideshow'}},
         itemCount: this.productCount,
    previous() {
        if (this.currentSlideIndex > 1) {
            this.currentSlideIndex = this.currentSlideIndex - 1
        } else {
            // If it's the first slide, go to the last slide
            this.currentSlideIndex = this.productCount
        }
    },
    next() {
        if (this.currentSlideIndex < this.productCount) {
            this.currentSlideIndex = this.currentSlideIndex + 1
        } else {
            // If it's the last slide, go to the first slide
            this.currentSlideIndex = 1
        }
    },
    isPaused: false,
    autoplayInterval: null,
    autoplay() {
        this.autoplayInterval = setInterval(() => {
            if (! this.isPaused) {
                this.next()
            }
        }, this.autoplayIntervalTime)
    },
    // Updates interval time
    setAutoplayInterval(newIntervalTime) {
        clearInterval(this.autoplayInterval)
        this.autoplayIntervalTime = newIntervalTime
        this.autoplay()
    },
}"
             class="relative w-full overflow-hidden" x-init="autoplay">


            <!-- previous button -->
            <button type="button" class="absolute left-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white" aria-label="previous slide" x-on:click="previous()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pr-0.5" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </button>

            <!-- next button -->
            <button type="button" class="absolute right-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white" aria-label="next slide" x-on:click="next()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pl-0.5" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </button>

            <!-- slides -->
            <!-- Change min-h-[50svh] to your preferred height size -->
            <div class="relative min-h-[95vh] w-full">
                {{collection:slideshow}}
                <div x-show="currentSlideIndex =={{ index}} + 1" class="absolute inset-0 w-full flex justify-center"
                     x-transition.opacity.duration.4000ms>
                    <div class="w-full relative">
                        <img src="{{glide :src='image'  fit='crop_focal'}}" alt="{{image:alt}}"
                             class="object-cover w-full h-full"

                        >
                        {{if index==0}}


                        <div class="absolute w-full h-full bg-black/30  top-0  flex place-content-center">
                           <div class="self-center w-full md:w-2/3 lg:w-1/2">
                               <h1 class="text-4xl md:text-5xl text-white font-black uppercase leading-loose text-center">
                                   Creating sustainable solutions for animal & crop nutrition.
                               </h1>
                           </div>
                        </div>
                        {{/if}}


                    </div>
                </div>
                {{/collection:slideshow}}

            </div>


        </div>
    </section>
    <section class="bg-slate-50">
        <div class="max-w-[1280px] mx-auto my-5 p-3">
            <div class="py-5 text-center">
                <h2 class="text-4xl font-black ">Our Products</h2>
                <hr class="w-16 mx-auto my-3 border-green-900 border-2">
            </div>
            <div class="grid">
                {{taxonomy:category}}
                {{if entries_count}}
                <div>
                    <div class="flex justify-center my-5">
                        <div class="justify-center bg-green-900 p-1 px-3 rounded-md">
                            <h5 class="text-white">{{title}}</h5>
                        </div>

                    </div>

                    <div x-data="{
        currentSlideIndex: 1,
         productCount:  {{entries_count}},
         itemCount: this.productCount,
    previous() {
        if (this.currentSlideIndex > 1) {
            this.currentSlideIndex = this.currentSlideIndex - 1
        } else {
            // If it's the first slide, go to the last slide
            this.currentSlideIndex = this.productCount
        }
    },
    next() {
        if (this.currentSlideIndex < this.productCount) {
            this.currentSlideIndex = this.currentSlideIndex + 1
        } else {
            // If it's the last slide, go to the first slide
            this.currentSlideIndex = 1
        }
    },
}"
                         class="relative w-full overflow-hidden">


                        <!-- previous button -->
                        <button type="button" class="absolute left-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white" aria-label="previous slide" x-on:click="previous()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pr-0.5" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                            </svg>
                        </button>

                        <!-- next button -->
                        <button type="button" class="absolute right-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white" aria-label="next slide" x-on:click="next()">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pl-0.5" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                            </svg>
                        </button>

                        <!-- slides -->
                        <!-- Change min-h-[50svh] to your preferred height size -->
                        <div class="relative min-h-[90svh] md:min-h-[80svh] w-full">
                            {{entries as="products"}}
                            {{products}}
                            <div x-show="currentSlideIndex =={{ index}} + 1" class="absolute inset-0 w-full flex justify-center"
                                 x-transition.opacity.duration.1000ms>
                                <div class="w-full md:w-3/4">

                                    <div class="grid md:grid-cols-5 gap-3">
                                        <div class="md:col-span-3 bg-gray-100 flex justify-center rounded-md">
                                            <img src="{{glide :src='image'  fit='crop_focal'}}" alt="{{logo:alt}}"
                                                 class="w-[400px]"

                                            >
                                        </div>
                                        <div class="md:col-span-2">

                                            <h3 class="text-lg font-bold my-2 underline">{{name}}</h3>
                                            <p class="text-md md:text-lg">{{meta_description}}</p>
                                            <a title="{{title}}" href="{{url}}" class="text-green-900 font-bold">Read more...</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {{/products}}
                            {{/entries}}

                        </div>


                    </div>

                </div>
                {{/if}}
                {{/taxonomy:category}}
            </div>
        </div>
    </section>

    <!--

    <section class="bg-slate-50">
        <div class="max-w-[1280px] mx-auto my-5 p-3">
            <div class="py-5 text-center">
                <h2 class="text-4xl font-black ">Our Products</h2>
                <hr class="w-16 mx-auto my-3 border-green-900 border-2">
            </div>
        <div x-data="{
        currentSlideIndex: 1,
         productCount:  {{ collection:count in='products'}},
         itemCount: this.productCount,
    previous() {
        if (this.currentSlideIndex > 1) {
            this.currentSlideIndex = this.currentSlideIndex - 1
        } else {
            // If it's the first slide, go to the last slide
            this.currentSlideIndex = this.productCount
        }
    },
    next() {
        if (this.currentSlideIndex < this.productCount) {
            this.currentSlideIndex = this.currentSlideIndex + 1
        } else {
            // If it's the last slide, go to the first slide
            this.currentSlideIndex = 1
        }
    },
}"
             class="relative w-full overflow-hidden">



            <button type="button" class="absolute left-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white" aria-label="previous slide" x-on:click="previous()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pr-0.5" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                </svg>
            </button>


            <button type="button" class="absolute right-5 top-1/2 z-20 flex rounded-full -translate-y-1/2 items-center justify-center bg-white/40 p-2 text-neutral-600 transition hover:bg-white/60 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:outline-offset-0 dark:bg-neutral-950/40 dark:text-neutral-300 dark:hover:bg-neutral-950/60 dark:focus-visible:outline-white" aria-label="next slide" x-on:click="next()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="3" class="size-5 md:size-6 pl-0.5" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </button>


            <div class="relative min-h-[90svh] md:min-h-[80svh] w-full">
                {{collection:products}}
                <div x-show="currentSlideIndex =={{ index}} + 1" class="absolute inset-0 w-full flex justify-center"
                     x-transition.opacity.duration.1000ms>
                    <div class="w-full md:w-3/4">

                       <div class="grid md:grid-cols-5 gap-3">
                           <div class="md:col-span-3 bg-gray-100 flex justify-center rounded-md">
                               <img src="{{glide :src='image'  fit='crop_focal'}}" alt="{{logo:alt}}"
                                    class="w-[400px]"

                               >
                           </div>
                         <div class="md:col-span-2">
                             {{if category}}
                             <div class="my-5">
                                 {{category}}
                                 <span class="bg-green-900 rounded-md text-white border border-green-900 py-2 px-4 text-xs">{{title}}</span>
                                 {{/category}}
                             </div>
                             {{/if}}
                             <h3 class="text-lg font-bold my-2 underline">{{name}}</h3>
                             <p class="text-md md:text-lg">{{meta_description}}</p>
                             <a title="{{title}}" href="{{url}}" class="text-green-900 font-bold">Read more...</a>
                         </div>
                       </div>

                    </div>
                </div>
                {{/collection:products}}

            </div>


        </div>


        </div>
    </section>

    -->

    <section class="bg-slate-50">
        <div class="max-w-[1280px] mx-auto my-5 p-3">

            <div class="grid text-center">
               <div>
                   <div class="py-5 text-center">
                       <h2 class="text-4xl font-black ">How we do this</h2>
                       <hr class="w-16 mx-auto my-3 border-green-900 border-2">
                   </div>
                   <p class="text-lg">
                       We incorporate principles of circular economy to<br>
                       produce sustainable animal feeds, feed ingredients, and organic fertilizers:
                   </p>
                   <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-5 my-8 mx-auto  xl:w-3/4 divide-y divide-gray-200 md:divide-y-0">
                       <div class="p-3">
                           {{ asset url="/assets/static/waste-recycling.svg" }}
                           <img src="{{url}}" class="h-24 mx-auto my-3" alt="{{alt}}" >
                           {{ /asset }}
                           <p class="leading-relaxed">
                               Converting underutilized agro-processing wastes into valuable
                               animal feed ingredients and complete feeds
                           </p>
                           <div class="my-3 flex justify-center">
                               <div class="h-12 w-12  border-2 rounded-full border-green-900 flex place-content-center">
                                   <p class="text-2xl font-bold self-center text-green-900">1</p>
                               </div>
                           </div>
                       </div>
                       <div class="p-3">
                           {{ asset url="/assets/static/upcycling.svg" }}
                           <img src="{{url}}" class="h-24 mx-auto my-3" alt="{{alt}}" >
                           {{ /asset }}
                            <p class="leading-relaxed">
                                Up-cycling of waste generated at our facilities into feed ingredients thus closing the loop.
                            </p>
                           <div class="my-3 flex justify-center">
                               <div class="h-12 w-12  border-2 rounded-full border-green-900 flex place-content-center">
                                   <p class="text-2xl font-bold self-center text-green-900">2</p>
                               </div>
                           </div>
                       </div>
                       <div class="p-3">
                           {{ asset url="/assets/static/vertical-waste-integration.svg" }}
                           <img src="{{url}}" class="h-24 mx-auto my-3" alt="{{alt}}" >
                           {{ /asset }}
                           <p class="leading-relaxed">
                               We vertically integrate our supply chain by producing and processing key ingredients for our feed.
                           </p>
                           <div class="my-3 flex justify-center">
                               <div class="h-12 w-12  border-2 rounded-full border-green-900 flex place-content-center">
                                   <p class="text-2xl font-bold self-center text-green-900">3</p>
                               </div>
                           </div>
                       </div>
                   </div>

               </div>

            </div>
        </div>
    </section>

    <section class="bg-slate-100">
        <div class="max-w-[1280px] mx-auto p-3 py-10">

            <div class="grid text-center">
                <div>
                    <div class="py-5 text-center">
                        <h2 class="text-4xl font-black ">Our Impact</h2>
                        <hr class="w-16 mx-auto my-3 border-green-900 border-2">
                    </div>

                    <div class="grid md:grid-cols-3 gap-5 my-8 mx-auto py-5 w-full xl:w-3/4">

                        <div>
                            {{ asset url="/assets/static/climate-action.svg" }}
                            <img src="{{url}}" class="h-16 mx-auto my-3" alt="{{alt}}" >
                            {{ /asset }}
                            <h3 class="text-md font-bold my-3">Climate action</h3>
                            <p>
                                We support climate action by promoting sustainable agriculture through
                                waste recycling and eco-friendly feed and fertilizer production.
                            </p>
                        </div>
                        <div>
                            {{ asset url="/assets/static/food-security.svg" }}
                            <img src="{{url}}" class="h-16 mx-auto my-3" alt="{{alt}}" >
                            {{ /asset }}
                            <h3 class="text-md font-bold my-3">Food security</h3>
                            <p>
                                We advance food security by providing sustainable feed solutions
                                that enhance livestock productivity and support resilient farming systems.
                            </p>
                        </div>
                        <div>
                            {{ asset url="/assets/static/regenerative-agriculture.svg" }}
                            <img src="{{url}}" class="h-16 mx-auto my-3" alt="{{alt}}" >
                            {{ /asset }}
                            <h3 class="text-md font-bold my-3">Regenerative agriculture</h3>
                            <p>
                                We champion regenerative agriculture by recycling waste into
                                nutrient-rich inputs, restoring soil health, and promoting sustainable farming practices.
                            </p>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="bg-slate-100">
        <div class="max-w-[1280px] mx-auto p-3 py-10">

            <div class="grid">
                <div>
                    <div class="py-5 text-center">
                        <h2 class="text-4xl font-black ">Key Metrics</h2>
                        <hr class="w-16 mx-auto my-3 border-green-900 border-2">
                    </div>

                    <div class="grid md:grid-cols-3 gap-5 my-8 mx-auto py-5 w-full xl:w-3/4">
                        <div class="text-center">
                            {{ asset url="/assets/static/jobs-created.png" }}
                            <img src="{{url}}" class="h-16 mx-auto my-3" alt="{{alt}}" >
                            {{ /asset }}
                            <p>
                                50 direct Jobs created (80% youth & 40% women).
                                150 indirect jobs created (80% youth & 50% women).
                            </p>
                        </div>
                        <div class="text-center">
                            {{ asset url="/assets/static/waste-collected.png" }}
                            <img src="{{url}}" class="h-16 mx-auto my-3" alt="{{alt}}" >
                            {{ /asset }}
                           <p>
                               30 tons of  organic waste collected and repurposed daily<br>
                           </p>
                        </div>
                        <div class="text-center">
                            {{ asset url="/assets/static/ghg-emission.png" }}
                            <img src="{{url}}" class="h-16 mx-auto my-3" alt="{{alt}}" >
                            {{ /asset }}
                            <p>
                                Approximately 60 tons of GHG emissions saved daily.
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="max-w-[1280px] mx-auto  p-3 py-14">

            <div class="grid text-center">
                <div>
                    <div class="py-5 text-center">
                        <h2 class="text-4xl font-black ">Our Partners</h2>
                        <hr class="w-16 mx-auto my-3 border-green-900 border-2">
                    </div>
                    <div class="my-3 grid grid-cols-2 md:grid-cols-6  gap-2">
                        {{collection:partners}}
                        <div class="overflow-hidden border border-gray-50 rounded-md">
                            <img src="{{glide :src='logo' fit='crop_focal'}}" alt="{{logo:alt}}"
                                 class="w-full"
                            >
                        </div>
                        {{/collection:partners}}

                    </div>



                </div>

            </div>
        </div>
    </section>
</main>



