<section>
    <div class="mx-auto max-w-[1280px] py-10 space-y-5 p-3">
        <div>
            <h1 class="font-poppins text-4xl font-bold">Search Results for <span class="text-green-900">{{get:q }}</span></h1>
        </div>
       <div class="divide-y">
           {{ search:results index="default" limit="20" }}
           {{ if no_results }}
           <h2>No results found for {{ get:q }}.</h2>
           {{ else }}
         <div>
             <a href="{{ url }}">
                 <h2 class="text-xl font-bold underline">{{index+1}} {{ title }}</h2>
                 <p>{{ content | truncate:180 }}</p>
             </a>
         </div>
           {{ /if }}
           {{ /search:results }}
       </div>
    </div>
</section>
