<section class="bg-green-900">
    <div class="bg-yellow-500 h-4"></div>
    <div class="max-w-[1280px] mx-auto p-5 text-white space-y-3">
        <nav>
            <ul class="flex justify-center gap-5">

                {{nav:footer_manu}}
                <li >
                    <a href="{{url}}" title="{{title}}" class="flex items-center gap-2">
                        <span class="text-yellow-500 text-3xl">&#183;</span>
                        <span class="hover:underline">{{title}}</span>
                    </a>
                </li>
                {{/nav:footer_manu}}

            </ul>
        </nav>

       <div class="flex justify-center">
           <p class="text-center text-xs">&copy; {{ date format="Y" }} Nutrimzuri Farmcare Limited. All rights reserved.</p>
       </div>

    </div>
</section>
