<section class="bg-green-900">
    <div class="bg-yellow-500 h-4"></div>
    <div class="max-w-[1280px] mx-auto p-5 text-white space-y-3">
        <nav>
            <ul class="flex justify-center gap-5">
                <li>
                    <a href="{{ link to='about-us' absolute='true' }}">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="{{ link to='our-products' absolute='true' }}">
                        Our Products
                    </a>
                </li>
                <li>
                    <a href="{{ link to='contact-us' absolute='true' }}">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="flex justify-center gap-2 ">
            <ul class="flex gap-3 items-center">

                <li>
                    <a href="https://www.linkedin.com/company/nutrimzuri/" target="_blank">
                        <button class="h-10 w-10 border text-white  border-white p-1 flex place-content-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 self-center" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"/>
                            </svg>
                        </button>
                    </a>
                </li>

                <li>
                    <a href="https://www.facebook.com/profile.php?id=100093121485232&mibextid=ZbWKwL" target="_blank">
                        <button class="h-10 w-10 border text-white  border-white p-1 flex place-content-center rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg"class="h-6 self-center" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"/>
                            </svg>
                        </button>
                    </a>
                </li>

            </ul>
        </div>
       <div class="flex justify-center">
           <p>&copy; {{ date format="Y" }} Nutrimzuri Farmcare Limited. All rights reserved.</p>
       </div>

    </div>
</section>
