<div class="bg-slate-50 border relative rounded-sm overflow-hidden">
    <a href="{{url}}" title="{{title}}" class="underline">
   <div class="relative">
       <img src="{{glide :src='profile_picture'
     height='400' width='320' fit='crop_focal'}}" alt="{{blog_image:alt}}"

       >
       <div class="absolute bottom-2 p-2">
       <div class="bg-green-900/50 p-2 rounded-sm">
           <p class="text-white text-lg">{{summary}}</p>
       </div>
       </div>
   </div>


    <div class="border-t p-2 h-12 max-h-12 ">
        <a href="{{url}}" title="{{title}}" class="underline">Read my story... </a>
    </div>
    </a>

</div>
