<section class="pt-10">
    <div class="mx-auto max-w-[1280px]">
        <div class="py-16 px-3 md:px-10">
            <h1 class="text-4xl font-bold">Our Products</h1>

            {{collection:products paginate="10" as="posts"}}
            <div class="my-5 grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 py-10">

                {{ if no_results }}
                <p class="text-lg">Aww, there are no results.</p>
                {{ /if }}
                {{posts}}
                <div class="grid">
                    {{partial:product-snippet}}
                </div>
                {{/posts}}



            </div>
            <div class="my-5 flex justify-center">
                <div class="flex items-center gap-2">
                    {{ paginate }}
                    <a href="{{ prev_page }}" class="btn-outline-primary btn-small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m4.836 12l6.207 6.207l1.414-1.414L7.664 12l4.793-4.793l-1.414-1.414zm5.65 0l6.207 6.207l1.414-1.414L13.314 12l4.793-4.793l-1.414-1.414z"/>
                        </svg>
                    </a>

                    <span class="mx-2">Page {{ current_page }} of {{ total_pages }}</span>

                    <a href="{{ next_page }}" class="btn-outline-primary btn-small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="currentColor" d="m19.164 12l-6.207-6.207l-1.414 1.414L16.336 12l-4.793 4.793l1.414 1.414zm-5.65 0L7.307 5.793L5.893 7.207L10.686 12l-4.793 4.793l1.414 1.414z"/>
                        </svg>
                    </a>
                    {{ /paginate }}
                </div>
            </div>
            {{/collection:products}}
        </div>
    </div>
</section>




