<section  class="pt-14">
    <div class="mx-auto max-w-[1280px]">
        <div class="py-10 px-3 md:px-10">
            {{if category}}
            <div class="my-5 text-center">
                {{category}}
                <span class="bg-green-900 text-white border py-2 px-4 text-xs">{{title}}</span>
                {{/category}}
            </div>
            {{/if}}
            <h1 class="text-4xl font-bold my-4 text-center">{{name}}</h1>
           <div class="grid">
               <div class="my-5 flex justify-center">
                   <figure class="rounded-md">
                       <img src="{{{{glide :src='image'  fit='crop_focal'}}}}" alt="{{image:alt}}"
                            class="sm:max-w-[500px]">
                   </figure>
               </div>
               <div class="flex justify-center w-full">
                   <div class="lg:col-span-5">
                       <div class="max-w-full prose lg:prose-xl prose-p:leading-loose
                prose-p:font-normal prose-heading:my-5
                prose-a:text-underline prose-heading:text-xl prose-p:text-lg">
                           {{description | full_urls}}
                       </div>
                   </div>

               </div>
           </div>




        </div>
    </div>
</section>



