<section  class="pt-14">
    <div class="mx-auto max-w-[1280px]">
        <div class="py-10 px-3 md:px-10">
            {{if category}}
            <div class="my-5 text-center">
                {{category}}
                <span class="bg-green-900 text-white border py-2 px-4 text-xs">{{title}}</span>
                {{/category}}
            </div>
            {{/if}}
            <h1 class="text-4xl font-bold my-4 text-center">{{name}}</h1>
           <div class="grid">
               <div class="my-5 flex justify-center">
                   <figure class="rounded-md">
                       <img src="{{{{glide :src='image'  fit='crop_focal'}}}}" alt="{{image:alt}}"
                            class="sm:max-w-[500px]">
                   </figure>
               </div>
               <div class="flex justify-center w-full">
                   <div class="lg:col-span-5">
                       <div class="max-w-full prose lg:prose-xl prose-headings:my-2 prose-headings:p-0
                prose-p:font-normal  prose-p:leading-loose prose-li:my-1 prose-li:p-0 prose-ul:space-y-2
                prose-p:m-0 prose-h3:text-md prose-h2:text-lg
                prose-thead:bg-slate-100 prose-table:border prose-table:border-gray-300 prose-th:bg-slate-100
                prose-th:border prose-th:border-gray-300 prose-th:text-left prose-th:font-bold  prose-th:p-1
                prose-th:text-gray-800 prose-th:leading-none prose-thead:text-sm

                prose-td:border prose-td:p-2 prose-td:text-gray-600 prose-td:text-xs
                prose-a:text-underline prose-heading:text-xl prose-p:text-lg">
                           {{description | full_urls}}
                       </div>
                   </div>

               </div>
           </div>




        </div>
    </div>
</section>



