<section>
    <div class="mx-auto max-w-[1280px]">
        <div class="py-10 px-3 md:px-10">
            {{if tags}}
            <div class="my-5">
                {{tags}}
                <span class="bg-green-900 text-white border py-2 px-4 text-xs">{{title}}</span>
                {{/tags}}
            </div>
            {{/if}}
            <h1 class="text-4xl font-bold">{{title}}</h1>
            <div class="my-3">
                <div class="flex gap-3 items-center">
                    <div>
                        <img alt="{{author:title}}" src="{{author:profile_picture}}" class="h-12 rounded-full">
                    </div>
                    <div>
                        <p class="text-xs font-bold text-gray-600">{{date}}</p>
                        <h6 class="capitalize text-sm font-bold"><span class="text-gray-600">By</span> {{author:title}}</h6>
                    </div>
                </div>
            </div>
            <figure class="my-10">
                <img src="{{{{glide :src='post_image' width='1280' height='650' fit='crop_focal'}}}}" alt="{{post_image:alt}}">
            </figure>
            <div class="my-3 md:px-10 ">
                <ul class="flex gap-3 items-center">

                    <li>
                        <a href="https://www.linkedin.com/company/nutrimzuri/" target="_blank">
                            <button class="h-10 w-10 border text-green-200 hover:bg-green-500/10 border-green-900 p-1 flex place-content-center rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 self-center text-green-900" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002M7 8.48H3V21h4zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91z"/>
                                </svg>
                            </button>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100093121485232&mibextid=ZbWKwL" target="_blank">
                            <button class="h-10 w-10 border text-green-200 hover:bg-green-500/10 border-green-900 p-1 flex place-content-center rounded-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 self-center text-green-900" viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4z"/>
                                </svg>
                            </button>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="my-5 grid  lg:grid-cols-7 gap-2 md:px-10">
                <div class="lg:col-span-5">
                    <div class="max-w-full prose lg:prose-xl prose-p:leading-loose
                prose-p:font-normal prose-heading:my-5
                prose-a:text-underline prose-heading:text-xl prose-p:text-lg">
                        {{content | full_urls}}
                    </div>
                </div>


                <div class="lg:col-span-2">

                    <div class="sticky top-0">
                        <h2 class="text-xl font-bold font-poppins">Latest Stories</h2>
                        <div class="grid gap-2 my-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-1">
                            {{collection:blog limit="3"}}
                            {{ if no_results }}
                            <p class="text-lg">Aww, there are no results.</p>
                            {{ /if }}
                            {{posts}}
                            <div class="bg-white border relative rounded-sm overflow-hidden">

                                <img src="{{glide :src='post_image' width='100%'  height='200' fit='crop_focal'}}" alt="{{blog_image:alt}}"
                                     class="w-full"
                                >

                                <div class="p-3 h-64">
                                    <p class="my-2 text-sm font-medium text-green-900">Date: {{date}}</p>
                                    <h1 class="font-extrabold text-xl">{{ title|truncate(90, '...') }}</h1>

                                    <div class="my-2">
                                        <div>
                                            <p class="capitalize text-sm">By <span class="font-bold">{{author:title}}</span></p>
                                        </div>
                                        {{if tags}}
                                        <div class="my-3">
                                            {{tags}}
                                            <span class="bg-gray-50 border py-2 px-4 text-xs">{{title}}</span>
                                            {{/tags}}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="border-t p-2 h-12 max-h-12 ">
                                    <a href="{{url}}" title="{{title}}" class="underline">Read article... </a>
                                </div>

                            </div>

                            {{/collection:blog}}

                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


